#daextam-autolinks-manager > .inside {
	margin: 0 !important;
	padding: 0 !important;
}

.daextam-field {
	position: relative;
	margin: 0;
	padding: 0 16px;
	margin-top: 16px;
}

.daextam-field:last-of-type{
	margin-bottom: 16px;
}

.daextam-field label {
	display: block;
	font-weight: 500;
	margin: 0 0 3px;
	padding: 0;
}

.daextam-field input[type=text] {
	width: 100%;
	padding: 4px 8px;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4;
}

.daextam-field select {
	width: 100%;
	padding: 4px 8px;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4;
}

.daextam-label {
	vertical-align: top;
	margin: 0 0 10px;
}

.daextam-description{
	margin: 1em 0 6px;
}