#daextam-autolinks-manager > .inside {
	margin: 0 !important;
	padding: 0 !important;
}

.daextam-field {
	position: relative;
	margin: 0;
	padding: 0 16px;
	margin-top: 16px;
}

.daextam-field:last-of-type{
	margin-bottom: 16px;
}

.daextam-field label {
	display: block;
	font-weight: 500;
	margin: 0 0 3px;
	padding: 0;
}

.daextam-field input[type=text] {
	width: 100%;
	padding: 4px 8px;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4;
}

.daextam-field select {
	width: 100%;
	padding: 4px 8px;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4;
}

.daextam-label {
	vertical-align: top;
	margin: 0 0 10px;
}

.daextam-description{
	margin: 1em 0 6px;
}

/* Internal Links Settings Meta Box --------------------------------------------------------------------------------- */
#daextam-meta-options .inside input {
	border-radius: 2px;
	margin: 0;
	width: 100%;
}

.daextam-seo-power-label-wrapper{
	margin-bottom: 0.5em;
}

.daextam-seo-power-label{
	vertical-align: baseline;
	font-weight: 600;
}

p.daextam-seo-power-description{
	margin: 1em 0 6px;
}

/* Internal Links Optimization Meta Box ----------------------------------------------------------------------------- */

#daextam-meta-optimization .inside {
	margin: 0;
	padding: 12px;
}

#daextam-meta-optimization p {
	font-size: 13px;
	line-height: 1.4em;
	margin-top: 0;
}

#daextam-meta-optimization p:not(:last-of-type) {
	margin-bottom: 16px;
}

/* Internal Links Optimization Meta Box ----------------------------------------------------------------------------- */

#daextam-meta-optimization .inside{
	margin: 0;
	padding-bottom: 16px;
}

#daextam-meta-optimization .form-table{
	margin-top: 0;
	padding-top: 16px;
}

#daextam-meta-optimization td{
	padding-bottom: 0;
	padding-top: 16px;
}

#daextam-meta-optimization p{
	font-size: 13px;
	line-height: 1.4em;
	margin-top: 0;
}

#daextam-meta-optimization p:not(:last-of-type){
	margin-bottom: 16px;
}