/* General ---------------------------------------------------------------------------------------------------------- */
.daext-display-none {
    display: none;
}

/* Automatic Links Options sidebar block */
.daext-autolinks-manager-sidebar-content{
	padding: 16px;
}

/* Interlinks Options block */
.daextam-interlinks-options-custom-margin {
    margin-bottom: 16px !important;
}
/* Interlinks Options block - end */